<div class="user-details">
  <h1>About</h1>
  <img src="{{ '/assets/linkedin_pfp.jpg' }}" style="width:400px;height:500px;"> </img>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Research Interests</h2>
    <img src="{{ '/assets/research_icon.png' }}" style="width:150px;height:150px;"> </img>
    <p>My current research interests are in Robotics - specifically researching how foundation models can be utilized to learn robust policies that generalize well across tasks and environments - as well as Computer Architecture. I am currently working in UCSB’s ArchLab under Professor Balkind, researching into software-oriented acceleration.</p>
  </div>
  <div class="tech">
    <h2>Resume</h2>
    <a href="{{'/assets/Ananth_Pilaka_Resume.pdf'}}" target="_blank">
      <img src="{{ '/assets/resume_icon.png' }}" style="width:150px;height:150px;"> </img>
    </a>
    <p>My current resume</p>
  </div>
  <div class="tech">
    <h2>Publications</h2>
    <img src="{{ '/assets/publications-icon.png' }}" style="width:150px;height:150px;"> </img>
    <p>None as of yet, but hopefully that should change!</p>
  </div>
</div>
